paper-soccer
runTests
CMakeLists.txt.user
CMakeLists.txt.autosave
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes
lib/googletest
src/libpaper-soccer_lib.a
src/proto/libpaper_soccer_proto.a
lib/libgmock.a
lib/libgmock_main.a
lib/libgtest.a
lib/libgtest_main.a
*~
*.cbp
*.swp
*.pb.cc
*.pb.h