paper-soccer
runTests

.cache/
.cmake/
CMakeLists.txt.user
CMakeLists.txt.autosave
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
Makefile

build/

*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes

libpaper_soccer_lib.a
libpaper_soccer_proto_lib.a
lib/libgmock.a
lib/libgmock_main.a
lib/libgtest.a
lib/libgtest_main.a

*~
*.cbp
*.swp
*.pb.cc
*.pb.h